*{
    padding: 0;
margin: 0;
}
.container{
    display: grid;
    grid-template-columns: repeat(2,50% 50%);
    align-items:flex-start;
   /* justify-content: start; */
  

}
.box{
    height: 510px;
    
}